body {
  display: block;
  margin: 30px 35px auto;
  background: #41c3be;
  
}

h1 {
  text-align: center;
  font-size: 38px;
  color: #f7f36b;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  line-height: 1.5;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  margin: 20px 0 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.croissant-photo {
  display: block;
  margin: 30px auto;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  margin: 0 10px;
  color: rgb(247, 247, 247);
}
footer a:hover {
  color: #f7f36b;
  font-size: 20px;
}
